<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        <div class="header">
            {{>header}}
        </div>
        <br> 
        <br>
        <form id="address">
            <input id="locInput" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="locOrError"></p>
        <p id="weatherMessage"> </p>
        <br>
    </div>
    <div class="footer">
        {{>footer}}
    </div>
    <script src="js/index.js"></script>
</body>

</html>